.discussionBoard-view {
    background: #f5f5f5;
}

.right-side-block, .left-side-block {
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 768px) {
    .right-side-block {
        width: 75%;
    }
    .left-side-block {
        width: 20%;
    }
}

.left-side-block {
    text-align: left;
    margin-right: 10px;
}

.sidebar-header {
    font-size: 120%;
    margin: 10px 10px 20px 10px;
}

.sidebar-item-label {
    color: grey;
    font-weight: 500;
}

.sidebar-item-label:hover {
    color: #BF3D1A;
}

.sidebar-body ul {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}

.sidebar-body li {
    margin: 5px 0;
}

.post-discussion {
    margin-top: 20px;
}

.title-filed {
    width: 95%;
    float: right;
}

.userImage {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.post-block {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.post-block:nth-last-of-type(1) {
    border-bottom: 0px;
}

.post-block-head {
    padding: 0 0 20px 0;
    border-bottom: 1px solid grey;
    vertical-align: middle;
}

.results-count {
    line-height: 34px;
}

.pagination>li>a, .pagination>li>span {
    color: #BF3D1A;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #BF3D1A;
    border-color: #BF3D1A;
}

.discussion-title {
    font-weight: initial;
}

a.discussion-title:hover {
    color: #555;
}

.post-info {
    font-size: 12px;
}

.label.label-info.tag {
    color: inherit;
    background-color: initial;
    font-size: 85%;
}

.label.label-info.tag:hover {
    color: #555;
}

.inputfileName {
    vertical-align: top;
    height: 3rem;
    width: 80%;
    display: inline-block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfileLabel {
    color: #FFF;
    background-color: #BF3D1A;
    width: 19%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-left: -5px;
}
