body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #BF3D1A;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #c53c16;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

.btn-zapp {
    background-color: #BF3D1A;
    color: #fff;
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.overflow-auto {
    /*overflow: auto;*/
    display: table;
    float: right;
    width: 100%;
}

*:focus {
    outline: 0;
}

.radio, .checkbox {
    padding-left: 20px;
}

.radio label, .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    opacity: 0;
}

.radio input[type="radio"]:focus+label::before,
.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label, .checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio input[type="radio"]+label::after {
    background-color: #BF3D1A;
}

.radio input[type="radio"]:checked+label::before {
    border-color: #BF3D1A;
}

.radio input[type="radio"]:checked+label::after {
    background-color: #BF3D1A;
}

.checkbox input[type="checkbox"]:checked+label::before {
    background-color: #BF3D1A;
    border-color: #BF3D1A;
}

.checkbox input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.radio.radio-inline {
    margin-top: 0;
}

.checkbox.checkbox-inline {
    margin: 0;
    margin-right: 10px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

/* Prelaoder */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}


/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #BF3D1A;
    color: #fff;
}


/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/

#hero {
    display: table;
    width: 100%;
    /*height: 100vh;*/
    height: 80vh;
    color: #ccc;
    background: url(../img/hero-bg.jpg) no-repeat fixed;
    background-size: cover;
}

#hero .hero-logo {
    margin: 0 20px 20px;
}

#hero .hero-logo img {
    /*max-width: 100%;*/
    width: 130px;
}

#hero .hero-container {
    background: rgba(0, 0, 0, 0.5);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #999;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    #hero h2 .rotating {
        display: block;
    }
}

#hero .rotating>.animated {
    display: inline-block;
}

#hero #cityDropDown {
    width: 150px;
}

#hero .searchBtn {
    width: 150px;
    background-color: #BF3D1A;
    color: #fff;
    border-radius: 0px;
}

#hero .searchBar {
    height: 33px;
    border-radius: 0px;
}

#hero .btn-get-started {
    background: #BF3D1A;
    border: 2px solid #BF3D1A;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services {
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services:hover {
    background: #BF3D1A;
    border: 2px solid #BF3D1A;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: #fff;
    padding: 20px 0;
    height: 100px;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
}

#header .serviceDD.sfHover {
    /*position: static!important;*/
}

#header .serviceDD.sfHover .subMenu {
    display: table;
    text-align: center;
    left: auto;
    /*top: 100px; /*Height of Nav bar, use this when position bolcks uncommented*/
    */
    /*position: absolute; /* If ''.serviceDD' position is uncomented. uncoment this aswell */
    */
}


/*
#header .serviceDD .subMenu>li {
    display: table-cell;
}
#header .serviceDD .subMenu>li>a {
  font-weight: bold;
}

#header .nav-menu.serviceDD .subMenu ul {
  top: auto;
  left: 0;
}*/

#header .nav-menu.serviceDD .column-2 ul:nth-of-type(1) {
    top: auto;
    left: -90px;
}

#header .nav-menu.serviceDD .column-2 ul:nth-of-type(2) {
    top: auto;
    left: 90px;
}

#header .nav-menu.serviceDD .column-3 ul:nth-of-type(1) {
    top: auto;
    left: -180px;
}

#header .nav-menu.serviceDD .column-3 ul:nth-of-type(2) {
    top: auto;
    left: 0;
}

#header .nav-menu.serviceDD .column-3 ul:nth-of-type(3) {
    top: auto;
    left: 180px;
}

#header .nav-menu.serviceDD .menu-has-children.column-3:nth-of-type(1) ul:nth-of-type(1) {
    top: auto;
    left: 0px;
}

#header .nav-menu.serviceDD .menu-has-children.column-3:nth-of-type(1) ul:nth-of-type(2) {
    top: auto;
    left: 180px;
}

#header .nav-menu.serviceDD .menu-has-children.column-3:nth-of-type(1) ul:nth-of-type(3) {
    top: auto;
    left: 360px;
}

#header .nav-menu.serviceDD .sf-with-ul:after {
    content: "\f107";
}

#header .nav-menu.serviceDD .column-3 li a, #header .nav-menu.serviceDD .column-2 li a {
    padding: 5px 10px;
}

#header .location-select {
    width: 120px;
    margin: 0 40px 0 0;
    background-color: transparent;
    color: #666666
    /*border-radius: 5px;*/
}

.location-select {
    margin: 0 10px 0 0;
    background: transparent;
    padding: 2px;
    border: 0;
    border-bottom: 1px solid;
}

.location-select.byUl {
    color: #666666;
    text-align: left;
}

.location-dd {
    width: 120px;
}

.dropdown ul {
    border-radius: 0px;
}

.signin {
    cursor: pointer;
}

.signin:hover {
    color: #BF3D1A;
}

@media (max-width: 768px) {
    #header {
        height: 80px;
    }
    #header #logo h1 {
        font-size: 26px;
    }
    #header #logo img {
        max-height: 40px;
    }
}

.is-sticky #header {
    background: rgba(255, 255, 255, 0.9);
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Menu Essentials */

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu>li>a {
    font-weight: bold;
}

.nav-menu li:hover>ul, .nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}


/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 5px 0;
}

#nav-menu-left {
    float: left;
    margin: 30px 0 0 0;
}

@media (max-width: 921px) {
    #nav-menu-container {
        display: none;
    }
    #nav-menu-left {
        display: none;
    }
}


/* Nav Meu Styling */

.nav-menu a, .dropdown .dropdown-menu>li>a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    /*color: #fff;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
}

.nav-menu a:hover, .nav-menu li:hover>a, .nav-menu .menu-active>a, .dropdown .dropdown-menu>li>a:hover {
    color: #BF3D1A;
}

.nav-menu ul {
    margin: 4px 0 0 15px;
    /*box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);*/
}

.nav-menu ul li {
    background: #fff;
}

.nav-menu ul li:hover {
    background: #f6f6f6;
}

.nav-menu ul li a {
    color: #333;
}

.nav-menu ul ul {
    margin: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
}

#mobile-nav-toggle i {
    color: #000;
}

@media (max-width: 921px) {
    #mobile-nav-toggle {
        display: inline;
    }
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(255, 255, 255, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #BF3D1A;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #c53c16;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #BF3D1A;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #BF3D1A;
}

#mobile-nav ul .menu-item-active {
    color: #BF3D1A;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/


/* Sections Common
--------------------------------*/

.section-cmn {
    background: #fff;
    padding: 80px 0;
    border-bottom: 1px solid #eeeeee;
}

.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-description {
    text-align: center;
    margin-bottom: 40px;
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: #BF3D1A;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* ---------------------------------- */

#slates {
    text-align: center;
}

#slates .col-sm-6 {
    padding: 0px;
}

.slate-right {
    /*background: #f5f5f5;*/
    /*border-left: 1px solid #ccc;*/
}

.slate-contracts img {
    border-radius: 50%;
    width: 35%;
    text-align: center;
}

.slate-gaurntee img {
    border-radius: 50%;
    width: 35%;
    text-align: center;
}


/* features
--------------------------------*/

.features {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
    background-size: cover;
}

.features i.fa {
    font-size: 25px;
    color: #fff;
    background: #BF3D1A;
    font-weight: 700;
    width: 100px;
    height: 100px;
    border: 1px solid #e1e1e1;
    line-height: 4;
    border-radius: 50%;
    cursor: pointer;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
}

.features i.fa:hover {
    color: #BF3D1A;
    background: #fff;
}


/* Get Started Section
--------------------------------*/

#about {
    background: #fff;
    padding: 80px 0;
}

#about .about-container {
    background: url(../img/about-img.jpg) left top no-repeat;
}

#about .about-content {
    background: #fff;
}

#about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#about .about-text {
    line-height: 26px;
}

#about .about-text:last-child {
    margin-bottom: 0;
}


/* HowItWorks Section
--------------------------------*/

#howItWorks .loop-item-wrapper {
    //height: 500px;
}

#howItWorks .item-wrapper .imgBlock img {
    height: 490px;
    width: 100%;
}

#howItWorks .item-wrapper .msgBlock {
    text-align: center;
    height: 490px;
}

#howItWorks .item-wrapper .block-title {
    font-weight: bold;
    font-size: 24px;
    margin: 25px 0;
}

#howItWorks .item-wrapper .block-msg {
    font-size: 18px;
}

#howItWorks .item-wrapper .msg-wrapper {
    margin-top: 150px;
}

#howItWorks {
    background: #f6f6f6;
    padding: 80px 0;
}

#howItWorks .profile {
    text-align: center;
}

#howItWorks .profile .pic {
    border-radius: 50%;
    border: 6px solid #fff;
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
    width: 260px;
}

#howItWorks .profile .pic img {
    max-width: 100%;
    height: 100%;
}

#howItWorks .profile h4 {
    font-weight: 700;
    color: #BF3D1A;
    margin-bottom: 5px;
}

#howItWorks .profile span {
    color: #333333;
}

#howItWorks .quote {
    position: relative;
    background: #fff;
    padding: 60px;
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
}

#howItWorks .quote b {
    display: inline-block;
    font-size: 22px;
    left: -9px;
    position: relative;
    top: -8px;
}

#howItWorks .quote small {
    display: inline-block;
    right: -9px;
    position: relative;
    top: 4px;
}


/* Zapville Gaurantee Section
--------------------------------*/

#gaurantee {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/gaurantee-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#gaurantee .gaurantee-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#gaurantee .gaurantee-text {
    color: #fff;
}

#gaurantee .gaurantee-btn-container {
    text-align: center;
    padding-top: 20px;
}

#gaurantee .gaurantee-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#gaurantee .gaurantee-btn:hover {
    background: #BF3D1A;
    border: 2px solid #BF3D1A;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #5A5757;
    padding: 30px 0;
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

#footer .container .nav a {
    padding: 0px;
}

#footer .container .nav a:hover, #footer .container .nav a:focus, #footer .container .nav a:active {
    background: transparent;
    color: #d36749;
}


/*--------------------------------------------------------------
#Models
---------------------------------------------------------------*/

.social-box {
    text-align: center;
    /*THIS IS A HACK FOR NOW. THIS DOES NOT WORK FOR MOBILE DEVICES*/
    margin-top: 100px;
}

.signinClose {
    margin-right: 10px;
}


/*--------------------------------------------------------------
#Cost Estimator Block
---------------------------------------------------------------*/

.costEstimatorPage {
    margin: 0 20px;
}

.card {
    padding: 10px;
    text-align: center;
    margin: 20px;
    border: 1px solid #bbb;
    box-shadow: 3px 3px 10px 0px;
}

.resultsBlock {
    height: 400px;
}

.deatilsBlock {
    height: 500px;
}

.howItWorksBlock {
    height: 200px;
}
