<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ZappVille</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="construction, house, contact, contract" name="keywords">
    <meta content="marketplace for all construction services" name="description">

    <!-- Place your favicon.ico and apple-touch-icon.png in the root directory and update the path -->
    <link href="../favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/animate-css/animate.min.css" rel="stylesheet">
    <link href="../lib/looper/looper.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header Section
============================-->
  <header id="header">
      <div class="container">
          <div id="logo" class="pull-left">
              <a href="homepage.html"><img src="../img/logo.png" alt="" title="" /></img>
              </a>
              <!-- Uncomment below if you prefer to use a text image -->
              <!--<h1><a href="#hero">Header 1</a></h1>-->
          </div>

          <nav id="nav-menu-container">
              <div class="overflow-auto">
                  <ul class="nav nav-pills pull-right">
                      <li>
                          <div class="location">
                              <form role="form" class="form-horizontal">
                                  <i class="glyphicon glyphicon-map-marker areaIcon"></i>
                                  <!-- NOTE: Using this just for now, drawback of using this select is the dropdown styles
                                  can not be overwrite. because this componet styles are default and genrated by OS.
                                  so use next commented block when using Angular code-->
                                  <!-- <select class="zappvill-droppdown location-select">
                                    <option value="0" selected>Select Area</option>
                                    <option value="1">Banglore</option>
                                    <option value="2">Chennai</option>
                                    <option value="3">Hyderabad</option>
                                    <option value="4">Pune</option>
                                  </select> -->
                                  <!-- Use this block is easy when using angular for logic-->
                                  <span class="dropdown location-dd">
                                      <button href="#" class="location-select byUl" data-toggle="dropdown">Select City <span class="caret"></span></button>
                                      <ul class="dropdown-menu" role="menu">
                                          <li><a href="#">Banglore</a></li>
                                          <li><a href="#">Chennai</a></li>
                                          <li><a href="#">Hyderabad</a></li>
                                          <li><a href="#">Pune</a></li>
                                      </ul>
                                  </span>
                              </form>
                          </div>
                      </li>
                      <li>
                          <div class="signin" data-toggle="modal" data-target="#signInModel" href="#"><i class="glyphicon glyphicon-user"></i> Sign In / Sign Up</div>
                      </li>

                  </ul>
              </div>
              <ul class="nav-menu">
                  <li class="menu-active"><a href="#">Home</a></li>
                  <li class="serviceDD menu-has-children">
                      <a href="#">Services</a>
                      <ul class="subMenu">
                          <li class="menu-has-children column-2"><a href="#">New Construction</a>
                              <ul>
                                  <li><a href="services.html">Deep Drop Down 1</a></li>
                                  <li><a href="#">Deep Drop Down 2</a></li>
                                  <li><a href="#">Deep Drop Down 3</a></li>
                                  <li><a href="#">Deep Drop Down 4</a></li>
                                  <li><a href="#">Deep Drop Down 5</a></li>
                                  <li><a href="#">Deep Drop Down 6</a></li>
                                  <li><a href="#">Deep Drop Down 7</a></li>
                                  <li><a href="#">Deep Drop Down 8</a></li>
                                  <li><a href="#">Deep Drop Down 9</a></li>
                                  <li><a href="#">Deep Drop Down 10</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Deep Drop Down 11</a></li>
                                  <li><a href="#">Deep Drop Down 12</a></li>
                                  <li><a href="#">Deep Drop Down 13</a></li>
                                  <li><a href="#">Deep Drop Down 14</a></li>
                                  <li><a href="#">Deep Drop Down 15</a></li>
                                  <li><a href="#">Deep Drop Down 16</a></li>
                                  <li><a href="#">Deep Drop Down 17</a></li>
                                  <li><a href="#">Deep Drop Down 18</a></li>
                                  <li><a href="#">Deep Drop Down 19</a></li>
                                  <li><a href="#">Deep Drop Down 20</a></li>
                              </ul>
                          </li>
                          <li class="menu-has-children column-3"><a href="#">Renovation</a>
                              <ul>
                                  <li><a href="#">Deep Drop Down 1</a></li>
                                  <li><a href="#">Deep Drop Down 2</a></li>
                                  <li><a href="#">Deep Drop Down 3</a></li>
                                  <li><a href="#">Deep Drop Down 4</a></li>
                                  <li><a href="#">Deep Drop Down 5</a></li>
                                  <li><a href="#">Deep Drop Down 6</a></li>
                                  <li><a href="#">Deep Drop Down 7</a></li>
                                  <li><a href="#">Deep Drop Down 8</a></li>
                                  <li><a href="#">Deep Drop Down 9</a></li>
                                  <li><a href="#">Deep Drop Down 10</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Deep Drop Down 11</a></li>
                                  <li><a href="#">Deep Drop Down 12</a></li>
                                  <li><a href="#">Deep Drop Down 13</a></li>
                                  <li><a href="#">Deep Drop Down 14</a></li>
                                  <li><a href="#">Deep Drop Down 15</a></li>
                                  <li><a href="#">Deep Drop Down 16</a></li>
                                  <li><a href="#">Deep Drop Down 17</a></li>
                                  <li><a href="#">Deep Drop Down 18</a></li>
                                  <li><a href="#">Deep Drop Down 19</a></li>
                                  <li><a href="#">Deep Drop Down 20</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Deep Drop Down 21</a></li>
                                  <li><a href="#">Deep Drop Down 22</a></li>
                                  <li><a href="#">Deep Drop Down 23</a></li>
                                  <li><a href="#">Deep Drop Down 24</a></li>
                                  <li><a href="#">Deep Drop Down 25</a></li>
                                  <li><a href="#">Deep Drop Down 26</a></li>
                                  <li><a href="#">Deep Drop Down 27</a></li>
                                  <li><a href="#">Deep Drop Down 28</a></li>
                                  <li><a href="#">Deep Drop Down 29</a></li>
                                  <li><a href="#">Deep Drop Down 30</a></li>
                              </ul>
                          </li>
                          <li class="menu-has-children"><a href="#">Other Services</a>
                              <ul>
                                  <li><a href="#">Deep Drop Down 1</a></li>
                                  <li><a href="#">Deep Drop Down 2</a></li>
                                  <li><a href="#">Deep Drop Down 3</a></li>
                                  <li><a href="#">Deep Drop Down 4</a></li>
                                  <li><a href="#">Deep Drop Down 5</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="menu-has-children"><a href="costEstimator.html">Cost Estimator</a>
                      <ul>
                          <li><a href="costEstimator.html">Drop Down 1</a></li>
                          <li><a href="costEstimator.html">Drop Down 2</a>
                          </li>
                          <li><a href="costEstimator.html">Drop Down 3</a></li>
                          <li><a href="costEstimator.html">Drop Down 4</a></li>
                          <li><a href="costEstimator.html">Drop Down 5</a></li>
                      </ul>
                  </li>
                  <li class="menu-has-children"><a href="#">Knowledge Base</a>
                      <ul>
                          <li><a href="#">Drop Down 1</a></li>
                          <li><a href="#">Drop Down 2</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Discussion Forum</a></li>
                  <!--
                  <li class="area">
                      <a data-toggle="modal" data-target="#location" href="#"><i class="glyphicon glyphicon-map-marker"></i></a>
                  </li>
                  <li class="login">
                      <a data-toggle="modal" data-target="#signInModel" href="#"><i class="glyphicon glyphicon-user"></i></a>
                  </li>
                  -->
              </ul>
          </nav>
          <!-- #nav-menu-container -->
      </div>
  </header>
  <!-- #header -->
<!-- ++++++++++++++++++++++++++++++ START OF SERVICES VIEW ++++++++++++++++++++++++++++++++++++++++-->
  <div class="costEstimatorPage">
    <div class="col-md-4 card deatilsBlock">
      BLOCK FOR DEATILS
    </div>
    <div class="col-md-7 card resultsBlock">
      RESULTS BLOCK
    </div>
    <div class="col-md-11 card howItWorksBlock">
      How Cost Estimate works
    </div>
  </div>


<!-- ++++++++++++++++++++++++++++++ END OF SERVICES VIEW ++++++++++++++++++++++++++++++++++++++++-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Used JavaScript Libraries in this app -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery/jquery-migrate.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/superfish/hoverIntent.js"></script>
    <script src="../lib/superfish/superfish.min.js"></script>
    <script src="../lib/morphext/morphext.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/stickyjs/sticky.js"></script>
    <script src="../lib/easing/easing.js"></script>
    <script src="../lib/looper/looper.min.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="../js/custom.js"></script>


</body>

</html>
