<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ZappVille</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="construction, house, contact, contract" name="keywords">
    <meta content="marketplace for all construction services" name="description">

    <!-- Place your favicon.ico and apple-touch-icon.png in the root directory and update the path -->
    <link href="../favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/animate-css/animate.min.css" rel="stylesheet">
    <link href="../lib/looper/looper.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">

</head>

<body>
    <div id="preloader"></div>

    <!--==========================
    Header Section
  ============================-->
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <a href="homepage.html"><img src="../img/logo.png" alt="" title="" /></img>
                </a>
                <!-- Uncomment below if you prefer to use a text image -->
                <!--<h1><a href="#hero">Header 1</a></h1>-->
            </div>
            <nav id="nav-menu-left">
                <ul class="nav-menu serviceDD">
                    <li class="menu-has-children column-2"><a href="#">New Construction</a>
                        <ul>
                            <li><a href="services.html">Deep Drop Down 1Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Deep Drop Down 1 Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                            <li><a href="#">Deep DroDeep Drop Down 1p Down 6</a></li>
                            <li><a href="#">Deep DropDeep Drop Down 1 Down 7</a></li>
                            <li><a href="#">Deep Drop Down 8</a></li>
                            <li><a href="#">Deep Drop Down 9</a></li>
                            <li><a href="#">Deep Drop Down 10</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Deep Drop Down 11</a></li>
                            <li><a href="#">Deep Drop Down 12</a></li>
                            <li><a href="#">Deep Drop Down 13</a></li>
                            <li><a href="#">Deep Drop Down 14</a></li>
                            <li><a href="#">Deep Drop Down 15</a></li>
                            <li><a href="#">Deep Drop Down 16</a></li>
                            <li><a href="#">Deep Drop Down 17</a></li>
                            <li><a href="#">Deep Drop Down 18</a></li>
                            <li><a href="#">Deep Drop Down 19</a></li>
                            <li><a href="#">Deep Drop Down 20</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children column-3"><a href="#">Renovation</a>
                        <ul>
                            <li><a href="#">Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                            <li><a href="#">Deep Drop Down 6</a></li>
                            <li><a href="#">Deep Drop Down 7</a></li>
                            <li><a href="#">Deep Drop Down 8</a></li>
                            <li><a href="#">Deep Drop Down 9</a></li>
                            <li><a href="#">Deep Drop Down 10</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Deep Drop Down 11</a></li>
                            <li><a href="#">Deep Drop Down 12</a></li>
                            <li><a href="#">Deep Drop Down 13</a></li>
                            <li><a href="#">Deep Drop Down 14</a></li>
                            <li><a href="#">Deep Drop Down 15</a></li>
                            <li><a href="#">Deep Drop Down 16</a></li>
                            <li><a href="#">Deep Drop Down 17</a></li>
                            <li><a href="#">Deep Drop Down 18</a></li>
                            <li><a href="#">Deep Drop Down 19</a></li>
                            <li><a href="#">Deep Drop Down 20</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Deep Drop Down 21</a></li>
                            <li><a href="#">Deep Drop Down 22</a></li>
                            <li><a href="#">Deep Drop Down 23</a></li>
                            <li><a href="#">Deep Drop Down 24</a></li>
                            <li><a href="#">Deep Drop Down 25</a></li>
                            <li><a href="#">Deep Drop Down 26</a></li>
                            <li><a href="#">Deep Drop Down 27</a></li>
                            <li><a href="#">Deep Drop Down 28</a></li>
                            <li><a href="#">Deep Drop Down 29</a></li>
                            <li><a href="#">Deep Drop Down 30</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="#">Other Services</a>
                        <ul>
                            <li><a href="#">Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <nav id="nav-menu-container">
                <div class="overflow-auto location-signin-wrap">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <div class="location">
                                <form role="form" class="form-horizontal">
                                    <i class="glyphicon glyphicon-map-marker areaIcon"></i>
                                    <!-- NOTE: Using this just for now, drawback of using this select is the dropdown styles
                                    can not be overwrite. because this componet styles are default and genrated by OS.
                                    so use next commented block when using Angular code-->
                                    <!-- <select class="zappvill-droppdown location-select">
                                      <option value="0" selected>Select Area</option>
                                      <option value="1">Banglore</option>
                                      <option value="2">Chennai</option>
                                      <option value="3">Hyderabad</option>
                                      <option value="4">Pune</option>
                                    </select> -->
                                    <!-- Use this block is easy when using angular for logic-->
                                    <span class="dropdown location-dd">
                                        <button href="#" class="location-select byUl" data-toggle="dropdown">Select City <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Banglore</a></li>
                                        <li><a href="#">Chennai</a></li>
                                        <li><a href="#">Hyderabad</a></li>
                                        <li><a href="#">Pune</a></li>
                                    </ul>
                                    </span>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="signin" data-toggle="modal" data-target="#signInModel" href="#"><i class="glyphicon glyphicon-user"></i> Sign In / Sign Up</div>
                        </li>

                    </ul>
                </div>
                <ul class="nav-menu">
                    <li class="menu-has-children"><a href="costEstimator.html">Cost Estimator</a>
                        <ul>
                            <li><a href="costEstimator.html">Drop Down 1</a></li>
                            <li><a href="costEstimator.html">Drop Down 2</a>
                            </li>
                            <li><a href="costEstimator.html">Drop Down 3</a></li>
                            <li><a href="costEstimator.html">Drop Down 4</a></li>
                            <li><a href="costEstimator.html">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="#">Knowledge Base</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li><a href="#">Drop Down 2</a></li>
                        </ul>
                    </li>
                    <li><a href="discussionBoard.html">Discussion Forum</a></li>
                    <!--
                    <li class="area">
                        <a data-toggle="modal" data-target="#location" href="#"><i class="glyphicon glyphicon-map-marker"></i></a>
                    </li>
                    <li class="login">
                        <a data-toggle="modal" data-target="#signInModel" href="#"><i class="glyphicon glyphicon-user"></i></a>
                    </li>
                    -->
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!-- =========================
     MODELS
     ============================----->

    <div class="modal fade" id="location" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Select the location</h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="userid">Search City:</label>
                        <div class="controls">
                            <input required="" id="location" name="location" type="text" class="form-control" placeholder="start typing area" class="input-medium" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-zapp">Set Location</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade " id="signInModel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <br>
                <button type="button" class="signinClose close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                        <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="signin">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Username:</label>
                                        <div class="controls">
                                            <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="test@gmail.com" class="input-medium" required="">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="passwordinput">Password:</label>
                                        <div class="controls">
                                            <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="rememberme"></label>
                                        <div class="controls">
                                            <label class="checkbox inline" for="rememberme-0">
                  <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                  Remember me
                </label>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-zapp">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <div class="col-sm-6">
                                <div class="social-box">
                                    <div class="row mg-btm">
                                        <div class="col-md-12">
                                            <a href="#" class="btn btn-primary btn-block">
                                                <span class="icon-facebook"></span>Sign up Using Facebook
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        (OR)
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="#" class="btn btn-info btn-block">
                                                <span class="icon-twitter"></span>Sign up using Twitter
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <!-- Sign Up Form -->
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="userid">Username:</label>
                                            <div class="controls">
                                                <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="password">Password:</label>
                                            <div class="controls">
                                                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                                <em>1-8 Characters</em>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                            <div class="controls">
                                                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Multiple Radios (inline) -->
                                        <br>
                                        <div class="control-group">
                                            <label class="control-label" for="humancheck">Humanity Check:</label>
                                            <div class="controls">
                                                <label class="radio inline" for="humancheck-0">
                  <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                                <label class="radio inline" for="humancheck-1">
                  <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="confirmsignup"></label>
                                            <div class="controls">
                                                <button id="confirmsignup" name="confirmsignup" class="btn btn-zapp">Sign Up</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==========================
  Hero Section
============================-->
    <section id="hero">
        <div class="hero-container">
            <div class="wow fadeIn">
                <div class="hero-logo">
                    <img class="" src="../img/logo.png" alt="ZappVille">
                </div>

                <h1>Welcome to ZappVille</h1>
                <h3>We provide <span class="rotating">cost estimates, knowledge base, discussion board</span> on constructions</h3>
                <div class="searchBoxWrapper">
                    <div class="col-sm-1 col-md-2"></div>
                    <div class="input-group col-sm-10 col-md-8">
                        <div class="">
                            <input type="text" class="form-control searchBar" placeholder="What service you need">
                            <div class="wrapper">
                                <ul class="dropdown-menu">
                                </ul>
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-default searchBtn">Search</button>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-2"></div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
    Unique Features
    ============================-->
    <section id="slates" class="uniqueFeatures section-cmn">
        <div class="container wow fadeInUp">
            <div class="row">
                <h2 class="section-title">​Zappville's Unique Features</h2>
                <div class="section-title-divider"></div>
                <div class="col-sm-6 slate-contracts">
                    <div class="slate-body">
                        <img src="../img/slate-contract.jpg" alt="">
                        <h3 class="media-heading"><a href="#">ZappVille Exestive Contracts</a></h3>
                        <p>Place holder for this section
                            <br>
                            <a href="#">Learn More...</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 slate-gaurntee">
                    <div class="slate-body slate-right">
                        <img src="../img/slate-gaurentee.jpg" alt="">
                        <h3 class="media-heading"><a href="#">ZappVille Gaurntee</a></h3>
                        <p>Place holder for this section
                            <br>
                            <a href="#">Learn More...</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
      feature sectiona
    ============================-->
    <section class="features text-center section-cmn" id="features">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Get Bricks and Blots to Start</h2>
                    <div class="section-title-divider"></div>
                    <div class="col-md-4 wow zoomIn animated">
                        <i class="fa fa-desktop"></i>
                        <h3>Trusted</h3>
                        <p>This is the place holder for this section step.<br>
                            <a href="#">Learn More...</a></p>
                    </div>
                    <div class="col-md-4 wow zoomIn animated">
                        <i class="fa fa-cog"></i>
                        <h3>Simplified</h3>
                        <p>This is the place holder for this section step.<br>
                            <a href="#">Learn More...</a></p>
                    </div>
                    <div class="col-md-4 wow zoomIn animated">
                        <i class="fa fa-mobile"></i>
                        <h3>Get the best</h3>
                        <p>This is the place holder for this section step.<br>
                            <a href="#">Learn More...</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of features section -->

    <!--==========================
  HowItWorks Section
============================-->
    <section id="howItWorks">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">How It Works</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
                </div>
            </div>
            <div class="row">
                <div id="bulletLooper" data-looper="go" class="looper slide">
                    <div class="looper-inner loop-item-wrapper">
                        <div class="item loop-item">
                            <div class="item-wrapper">
                                <div class="col-md-6 imgBlock">
                                    <img src="../img/pic-1.jpg" alt="">
                                </div>
                                <div class="col-md-6 msgBlock">
                                    <div class="msg-wrapper">
                                        <div class="block-title">This is the title for step 1</div>
                                        <div class="block-msg">
                                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item loop-item">
                            <div class="item-wrapper">
                                <div class="col-md-6 imgBlock">
                                    <img src="../img/pic-2.jpg" alt="">
                                </div>
                                <div class="col-md-6 msgBlock">
                                    <div class="msg-wrapper">
                                        <div class="block-title">This is the title for step 2</div>
                                        <div class="block-msg">
                                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item loop-item">
                            <div class="item-wrapper">
                                <div class="col-md-6 imgBlock">
                                    <img src="../img/pic-3.jpg" alt="">
                                </div>
                                <div class="col-md-6 msgBlock">
                                    <div class="msg-wrapper">
                                        <div class="block-title">This is the title for step 3</div>
                                        <div class="block-msg">
                                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <a class="looper-control" data-looper="prev" href="#bulletLooper">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                        <a class="looper-control right" data-looper="next" href="#bulletLooper">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                        <ul class="looper-nav">
                            <li><a href="#bulletLooper" data-looper="to" data-args="1">&bull;</a></li>
                            <li><a href="#bulletLooper" data-looper="to" data-args="2">&bull;</a></li>
                            <li><a href="#bulletLooper" data-looper="to" data-args="3">&bull;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>


    <!--==========================
      Zapville Gaurantee Section
    ============================-->
    <section id="gaurantee">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-8">
                    <p class="gaurantee-text">ZappVille takes all your headaches and makes sure project is executed on time and according to contract </p>
                </div>
                <div class="col-md-4 gaurantee-btn-container">
                    <a class="gaurantee-btn" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
  Footer
============================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Link 1 for page</a></li>
                            <li><a href="#">Link 2</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">short link for pg4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Link 6</a></li>
                            <li><a href="#">missed link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Link 5</a></li>
                            <li><a href="#">missed link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Link 15</a></li>
                            <li><a href="#">Awesome Link 14</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/">© 2017 ZappVille.</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Used JavaScript Libraries in this app -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery/jquery-migrate.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/superfish/hoverIntent.js"></script>
    <script src="../lib/superfish/superfish.min.js"></script>
    <script src="../lib/morphext/morphext.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/stickyjs/sticky.js"></script>
    <script src="../lib/easing/easing.js"></script>
    <script src="../lib/looper/looper.min.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="../js/custom.js"></script>


</body>

</html>
